<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483321681616-pm06kscctqtoomti5ln5lpces21t4qvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483321681616-pm06kscctqtoomti5ln5lpces21t4qvu</string>
	<key>API_KEY</key>
	<string>AIzaSyDwYJXLo7TgvuFTPgX5N_Y5FrJ7j9ixCtY</string>
	<key>GCM_SENDER_ID</key>
	<string>483321681616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolTimetable</string>
	<key>PROJECT_ID</key>
	<string>aaaaaaaaaaaaa-eeb40</string>
	<key>STORAGE_BUCKET</key>
	<string>aaaaaaaaaaaaa-eeb40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483321681616:ios:f898c6ed009aa708a1f0d5</string>
	<key>DATABASE_URL</key>
	<string>https://aaaaaaaaaaaaa-eeb40-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>